node_modules
.pnpm-store/
.docs/
.projects/

# Build output
dist/
build/
.build/
.output/
.tanstack/
.vinxi/
.svelte-kit/
.astro/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Lock files
bun.lock
package-lock.json
